@import './components/icons';
@import './components/notification';
@import './components/card';

i {
  color: #fff;
}

input[type="text"] {
  color: #fff;
}

.container {
  color: #fff;
}

.center-to-the-app-form {
  position: absolute;
  top: 50%;
  width: 75%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.center-to-the-app-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.move-icon-down {
  position: relative;
  top: 2px;
}
