@import './components/icons';

.center-to-the-app {
  position: absolute;
  top: 50%;
  width: 75%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.move-icon-down {
  position: relative;
  top: 2px;
}
